.order {
    width: 100%;
}

.order__content {
    min-height: 210px;

    margin-bottom: 20px;
}

.order__sum {
    display: flex;
    justify-content: space-between;

    padding: 10px 15px;

    border-radius: 10px;

    background-color: var(--color-gray-1);
}
