.admin-check-layout-title_margin-bottom {
    margin-bottom: 40px;
}

.admin-check-layout__progress {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-check-layout-title_margin-top {
    margin-top: 60px
}

.admin-check-layout-title {
    font-family: 'Montserrat Medium';
    font-size: 28px;;
}

.admin-check-content {
    display: flex;
    justify-content: space-between;
}

.admin-check-content__left-side {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.admin-check-content__right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px solid #CDCDCD;
    margin-left: 25px;
}

.admin-check-content__right-side .check-right-side-item:not(:last-child) {
    margin-bottom: 25px;
}

.admin-check-content__left-side .admin-check-content-item:not(:last-child) {
    margin-bottom: 25px;
}

.admin-check-content-item__title {
    margin-bottom: 5px;
    font-family: 'Montserrat Medium';
    font-size: 18px;
}

.admin-check-content-item__text {
    font-size: 15px;
    color: var(--color-black);
}

.admin-check-right-side-price {
    margin-top: 20px;
    border-top: 1px solid #CDCDCD;
    padding: 25px 10px 25px 25px;
    display: flex;
    justify-content: space-between;
}

.admin-check-right-side-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 200px;
    padding: 0 10px 0 25px;
}

.admin-check-right-side-price__result {
    font-size: 18px;
}

.admin-check-right-side-price__price {
    font-size: 18px;
    font-family: 'Montserrat medium';
}

.admin-check-layout-modern-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-check-layout-button {
    color: #ffffff;
    background-color: var(--color-black);
    border-radius: 10px;
    font-family: 'Montserrat medium';
    width: fit-content;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.check-agreement {
    margin-top: 40px;
    background-color: rgba(100, 135, 216, 0.2);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat Medium';
}

.check-agreement_no-margin {
    margin-top: 0;
}

.check-agreement__title {
    font-size: 18px;
    margin-bottom: 5px;
}

.check-agreement__buttons {
    display: flex;
}

.check-agreement__button {
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;

    transition: 0.5s;
}

.check-agreement__button_agree {
    background-color: rgba(118, 184, 42, 0.6);
}

.check-agreement__button_agree:hover {
    background-color: rgba(118, 184, 42, 0.9);
}

.check-agreement__button_disagree {
    background-color: rgba(244, 67, 54, 0.6);
    margin-left: 10px;
}

.check-agreement__button_disagree:hover {
    background-color: rgba(244, 67, 54, 0.9);
}
