.checkout {
    display: flex;
    flex-direction: column;

    margin: 50px 0;
}

.checkout__title {
    margin-bottom: 10px;

    font-size: 24px;
}

.checkout__error {
    margin: 5px 0;

    min-height: 20px;

    color: red;
}

.checkout-item__card_active {
    background-color: var(--color-black) !important;
    color: white;
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0;
}

.checkout-item_margin {
    margin-top: 10px;
}

.checkout-item__input {
    width: 200px;

    padding: 15px 20px;

    border: 0;
    border-radius: 10px;

    background-color: var(--color-gray-1);
}

.checkout-item__input:focus {
    outline: none;
}

.checkout-item__wrap {
    display: flex;
    flex-wrap: wrap;

    width: 340px;
}


.checkout-item__card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 30px;

    padding: 10px 15px;
    margin-bottom: 10px;
    margin-left: 10px;

    cursor: pointer;

    transition: ease-in-out all 0.3s;

    border-radius: 10px;
    background-color: var(--color-gray-1);
}


.checkout__submit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    margin: 10px 0;
    padding: 15px 20px;

    color: var(--color-white);

    border: 0;
    border-radius: 10px;

    cursor: pointer;

    background-color: var(--color-black);
}

.checkout__submit:focus {
    outline: none;
}

.checkout__submit:disabled {
    cursor: initial;
    background-color: var(--color-gray);
}
