.search-bar {
    height: 40px !important;
    border-radius: 10px !important;
    border: 1px solid var(--color-black);
    font-size: 18px;
    width: 450px;
    box-shadow: none !important;
}

.search-input__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.search-input__filters-btn {
    border: none !important;
    margin-left: 24px !important;
    font-size: 15px !important;
    text-transform: none !important;
    color: #000000 !important;
    cursor: pointer;
}

.search-input {
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 40px;
    width: 100%;
}

.search-input__filters {
    display: flex;
}

.search-input__filters .search-filter-select:not(:first-child) {
    margin-left: 20px;
}
