.admin-order-layout-title_margin-bottom {
    margin-bottom: 40px;
}

.admin-order-layout-title_margin-top {
    margin-top: 60px
}

.admin-order-layout-title {
    font-family: 'Montserrat Medium';
    font-size: 28px;;
}

.admin-order-content {
    display: flex;
    justify-content: space-between;
}

.admin-order-content__left-side {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.admin-order-content__right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px solid #CDCDCD;
    margin-left: 25px;
}

.admin-order-content__right-side .check-right-side-item:not(:last-child) {
    margin-bottom: 25px;
}

.admin-order-content__left-side .admin-order-content-item:not(:last-child) {
    margin-bottom: 25px;
}

.admin-order-content-item__title {
    margin-bottom: 5px;
    font-family: 'Montserrat Medium';
    font-size: 18px;
}

.admin-order-content-item__text {
    font-size: 15px;
    color: var(--color-black);
}

.admin-order-right-side-price {
    margin-top: 20px;
    border-top: 1px solid #CDCDCD;
    padding: 25px 10px 25px 25px;
    display: flex;
    justify-content: space-between;
}

.admin-order-right-side-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 200px;
    padding: 0 10px 0 25px;
}

.admin-order-right-side-price__result {
    font-size: 18px;
}

.admin-order-right-side-price__price {
    font-size: 18px;
    font-family: 'Montserrat medium';
}

.admin-order-layout-modern-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-order-layout-button {
    color: #ffffff;
    background-color: var(--color-black);
    border-radius: 10px;
    font-family: 'Montserrat medium';
    width: fit-content;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}
